#page_faq {
  padding-top: 200px;
  min-height: 80vh;
  .faq-title-h {
    max-width: min(800px, 80%);
    margin: 0 auto;
    text-align: center;
    position: relative;
    h2 {
      margin: 0.25em;
    }
    .star {
      width: 30px;
      height: 30px;
      position: absolute;
      &.l {
        left: 0%;
        scale: 0.7;
      }
      &.c {
        left: 20%;
        bottom: -10%;
      }
    }
    position: relative;
    .decor_triangle {
      top: -50px;
      left: 30%;
      position: absolute;
      z-index: -2;
      animation: speen 41s infinite linear;
    }
  }

  .faq-list {
    min-height: 80vh;
    max-width: min(1000px, 80%);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }
}

@media screen and (max-width: 420px) {
  #page_faq .faq-title-h {
    text-align: left;
    .common-p {
      font-size: 0.9rem;
    }
  }
}
