.footer-decors {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
  margin-top: -250px;
  margin-bottom: -80px;
  &::before {
    content: "";
    position: absolute;
    top: -150px;
    left: -300px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: #ff934527;
    z-index: -1000;
    transform: translateY(35%);
  }
  &::after {
    transform: translateY(35%);
    content: "";
    position: absolute;
    top: -250px;
    right: -320px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: #ff934527;
    z-index: -1000;
  }
}
#footer {
  position: relative;
  overflow: hidden;

  background: white;
  border-radius: 5em 5em 0 0;
  border-top: 5px solid #242528;
  border-left: 5px solid #242528;
  border-right: 5px solid #242528;
  .footer-stats {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    padding-bottom: 3em;
    .stats {
      text-align: center;
      min-width: 200px;
      position: relative;
      .star {
        width: 30px;
        position: absolute;
        height: 30px;
      }
      &:nth-child(1) {
        .star {
          &.l {
            left: -10%;
            top: 30%;
          }
          &.r {
            top: 40%;
            left: 0%;
            scale: 0.5;
          }
        }
      }
      &:nth-child(2) {
        .star {
          &.l {
            right: 10%;
            top: 0%;
          }
          &.r {
            top: 40%;
            left: 0%;
            scale: 0.5;
          }
        }
      }
      &:nth-child(3) {
        .star {
          &.l {
            right: 30%;
            bottom: 30%;
            scale: 0.5;
          }
          &.r {
            top: 10%;
            left: 10%;
            scale: 0.8;
          }
        }
      }
      h2 {
        font-size: 4rem;
        color: #2f4057;
      }
      p {
        font-size: 1.2rem;
        color: #777373;
        text-transform: uppercase;
        font-family: var(--fontH);
      }
    }
  }

  .content {
    background: url("/background/flowy.png") #242528;
    padding: 2em;
    // margin-top: 200px;
    padding-top: 100px;
    min-height: 600px;
    .confine {
      max-width: min(1110px, 90%);
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.1fr 1fr;
      .info {
        .btn-secondary {
          background: #45dafb;
        }
        h3 {
          color: #45dafb;
          font-size: 4rem;
          line-height: 80%;
          margin-top: 0.25em;
        }
        p {
          color: white;
          margin: 0.55em 0;
        }
        .btn-secondary {
          background-color: #45dafb;
          margin: 1em 0;
          font-size: 1.2rem;
        }
      }

      .points {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 4em;
        gap: 0.25em;
        li {
          &:hover {
            color: #ff9345;
            rotate: -1deg;
            transition: all 350ms ease;
            a {
              transition: all 350ms ease;
              color: #ff9345;
            }
          }
          color: #9aa4b0;
          font-size: 1.2rem;
          display: flex;
          align-items: center;

          a {
            font-size: 1.2rem;
            color: #9aa4b0;
          }
          font-size: 0.9rem;
        }
        svg {
          color: #ff9345;
          transform: translateY(12%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #footer {
    .footer-stats {
      // display: flex;
      .stats {
        h2 {
          font-size: 2.5rem;
          .star {
            scale: 0.5;
          }
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #footer {
    .footer-stats {
      margin: 0 auto;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      padding-top: 2em;
      .stats {
        padding: 0.5em 0;
        background: rgb(228, 239, 255);
        border-radius: 0.55em;
      }
    }
  }
}
