.faq-dd {
  padding: 1.5em;
  background: url("/background/zigzag_neutral.png"), #3a3c43;
  width: 100%;
  background-size: 10px;
  column-rule-color: white;
  border-radius: 1em;
  transition: all 250ms ease;
  cursor: pointer;

  box-shadow: 4px 4px rgba(0, 0, 0, 0.256);
  &:hover {
    scale: 1.02;
  }

  &.closed {
    .faq-dd-c {
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      // padding: 0.55em;
    }
    .faq-dd-h {
      .decor-mark {
        top: -40px;
        opacity: 0;
      }
    }
  }
  &.open {
    .faq-dd-c {
      margin-bottom: 2em;
      padding-top: 2em;
    }
    .btn-open {
      rotate: 90deg;
    }
    .faq-dd-h {
      .decor-mark {
        top: -15px;
        opacity: 1;
      }
    }
    scale: 1.05;
  }
  &-c {
    transition: all 200ms ease;
    padding-right: 2em;
    color: white;
    max-height: 300px;
    overflow-y: auto;
    .answer {
      opacity: 0.8;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.331);
    }
  }
  &-h {
    display: flex;
    justify-content: space-between;
    .decor-mark {
      position: absolute;
      top: -15px;
      scale: 0.9;
      height: 30px;
      right: 20%;
      transition: all 200ms ease;
    }
    h3 {
      color: white;
      letter-spacing: 1px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.331);
      font-size: 1.25rem;
      font-weight: normal;
      span {
        margin-right: 0.4em;
        // padding-right: 1em;
        opacity: 0.5;
      }
    }
    .btn-open {
      background: #ffffff;
      color: #67778a;
      width: 35px;
      height: 35px;
      border-radius: 0.55em;
      svg {
        width: 100%;
        height: 100%;
        padding: 0.45em;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .faq-dd {
    .faq-dd-h h3 {
      font-size: 1rem;
    }
    .faq-dd-h .btn-open {
      width: 30px;
      height: 20px;
    }
    .faq-dd-c {
      .answer {
        font-size: 1rem;
        padding-right: 0;
      }
      padding-right: 0.25em;
    }
  }
}

@media screen and (max-width: 400px) {
  #page_faq .faq-list {
    max-width: 100%;

    .faq-dd {
      border-radius: 0;
    }
  }
}
